<p id="notice"><%= notice %></p>

<p>
  <strong>Municipality:</strong>
  <%= @record.municipality %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @record.tax_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @record.owner %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @record.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @record.street_name %>
</p>

<p>
  <strong>Swis:</strong>
  <%= @record.swis %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
